@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');
@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
  --font-sans: 'Manrope', ui-sans-serif, system-ui, sans-serif;

  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-heading: hsl(var(--heading));
  --color-ring: hsl(var(--ring));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-border: hsl(var(--border));
  --color-border-faded: hsl(var(--border-faded));

  --color-shell: hsl(var(--shell));

  --color-primary: hsl(var(--primary));
  --color-primary-faded: hsl(var(--primary-faded));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-faded: hsl(var(--destructive-faded));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-success: hsl(var(--success));
  --color-success-faded: hsl(var(--success-faded));
  --color-success-foreground: hsl(var(--success-foreground));

  --color-warning: hsl(var(--warning));
  --color-warning-faded: hsl(var(--warning-faded));
  --color-warning-foreground: hsl(var(--warning-foreground));

  --color-dark: hsl(var(--dark));
  --color-dark-faded: hsl(var(--dark-faded));

  --shadow-xsmall: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

:root {
  --background: 0 0% 100%;
  --foreground: 268 29% 13%;
  --heading: 270 82% 4%;
  --ring: 300 1% 52%;

  --muted: 0 0% 96%;
  --muted-foreground: 270 5% 33%;

  --border: 240 1% 68%;
  --border-faded: 0 8% 87%;

  --shell: 218 100% 98%;

  --primary: 197 70% 47%;
  --primary-faded: 197 71% 93%;
  --primary-foreground: 0 0% 100%;

  --secondary: 0 0% 100%;
  --secondary-foreground: 197 70% 47%;

  --destructive: 0 100% 50%;
  --destructive-faded: 0 100% 95%;
  --destructive-foreground: 0 0% 100%;

  --success: 151 100% 32%;
  --success-faded: 151 100% 91%;
  --success-foreground: 0 0% 100%;

  --warning: 32 100% 48%;
  --warning-faded: 32 100% 94%;
  --warning-foreground: 0 0% 100%;

  --dark: 205 59% 21%;
  --dark-faded: 205 52% 91%;
}

@layer base {
  * {
    @apply border-border-faded;
  }
  body {
    @apply bg-shell text-foreground font-sans antialiased;
  }
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}
